.main div h1{
    background-color: brown;
    color: white;
    font-style: italic;
}
.main div p {
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 20px;
}
h1{
    color: blue;
}
h1 span{
    color: red;
    font-style: italic;
}
p{
    border: 1px dashed blue;
}
/*  */