.box{
    width : 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-delay: 2s;
    position: relative;
}

@keyframes example{
    0%{
        
        background-color: red;
        top: 0px;
        left: 100px;
    }
    25%{
       background-color: yellow;
       top: 0px;
       left: 100px;
    }
   
    50%{
        background-color: aquamarine;
        top: 100px;
        left: 100px;
    }
    75%{
        background-color: greenyellow;
        top: 100px;
        left: 0px;
    }
    100%{
        background-color: blue;
        top: 0px;
        left: 0px;
    }
}